:root {
  --color-main: #1f1f1f;
  --color-grey: #59606d;
  --color-grey-light: #959dad;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.products-page {
  &__sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      justify-content: space-evenly;
    }
  }
}
